<%= render 'nav' %>
<div class="container my-5 p-3 shadow bg-white rounded">
  <div class="row">
    <div class="col-12">
      <h1>All Flats</h1>
    </div>
  </div>

<div class="row row-cols-1 row-cols-md-3 mt-3">
  <% @flats.each do |flat| %>
  <div class="col-md-4 mb-4">
    <div class="card h-100 img-thumbnail mb-2" style="">
      <img src="https://source.unsplash.com/random" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <div class="card-title"><h5><%= flat.name%></h5></div>
        <p class="card-text"><%= flat.address %></p>
        <p><i class="card-text fa-solid fa-sterling-sign">&nbsp</i><%= flat.price_per_night %>&nbsp<i class="card-text fa-solid fa-user-group"></i>&nbsp<%= flat.number_of_guests %></p>
        <%= link_to 'More Info', flat_path(flat), class: "flat-info btn btn-outline-primary btn-sm" %>
        <%= link_to 'Edit', edit_flat_path(flat), class: "flat-edit btn btn-outline-primary btn-sm" %>
        <%= link_to 'Remove', flat_path(flat), method: :delete, data: { confirm: 'Are you sure?' }, class: "flat-destroy btn btn-outline-primary btn-sm" %>
      </div>
    </div>
  </div>
  <% end %>
</div>


    </div>
</div>
